@model IEnumerable<PortalLivros.Model.vw_LIVRO>


@{
    ViewBag.Title = "MuralLivros";
}

<h2 class="text-center" style="padding-top:50px">Estante</h2>

<p>
    @Html.ActionLink("Criar Novo Livro", "CriarLivro", "MuralLivros")
</p>

@Html.Label("Filtrar por: ", htmlAttributes: new { @class = "control-label" })

@using (Html.BeginForm("Estante", "MuralLivros", FormMethod.Get))
{
<div class="form-inline">
    <div class="form-group" style="margin-right: 10px">
        @Html.Label("Gênero", htmlAttributes: new { @class = "control-label", @style = "margin-right: 5px" })
        @Html.DropDownList("GeneroLivros", null, "Selecione um gênero", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group" style="margin-right: 10px">
        @Html.Label("Autor", htmlAttributes: new { @class = "control-label", @style = "margin-right: 5px" })
        @Html.DropDownList("AutorLivros", null, "Selecione um autor", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group" style="margin-right: 10px">
        @Html.Label("Editora", htmlAttributes: new { @class = "control-label", @style = "margin-right: 5px" })
        @Html.DropDownList("EditoraLivros", null, "Selecione um gênero", htmlAttributes: new { @class = "form-control" })
    </div>
        <input type="submit" value="Filtrar" class="btn btn-default" />
</div>
}
<br />

@using (Html.BeginForm("CapturarAmigo", "Home", FormMethod.Get, new { id = "cadastrar-form", role = "form", @class = "form-signin" }))
{
    <table class="table table-bordered">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ImagemCaminho)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NomeGenero)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NomeAutor)
            </th>
            <th class="text-center">
                @Html.DisplayName("Opções")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
{
            <tr>
                @if (!String.IsNullOrEmpty(item.ImagemCaminho))
                {
                    <td class="text-center">
                        @{
                            var imgSrc = Url.Content(item.ImagemCaminho);

                        }
                        <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
                    </td>
                }
                else
                {
                    <td class="text-center">
                        <img src="~/Imagens/Foto em branco.jpg" style="max-width:100px; max-height:100px;" />
                    </td>
                }
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DataPublicacao)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.NomeGenero)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Editora)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.NomeAutor)
                </td>

                @if (Session["Perfil"] != null)
{
                    <td class="text-center">
                        <button class="btn btn-success center-block  BtnComprar" data-toggle="modal"
                                data-target="#ModalMensagem">
                            Comprar Livro
                        </button>

                        <br />

                        <!--Configuração do Botão que vai Abrir o Modal, onde será definido os parametros do Modal com os dados que
                        irá aparecer no JQuery-->

                        <button class="btn btn-primary BtnSinopse" onclick="return false"
                                data-Sinopse="@item.Sinopse"
                                data-toggle="modal"
                                data-target="#ModalSinopse">
                            Sinopse
                        </button>
                    </td>
                }
                else
                {
                    <td class="text-center">
                        <button class="btn btn-primary BtnSinopse" onclick="return false"
                                data-Sinopse="@item.Sinopse"
                                data-toggle="modal"
                                data-target="#ModalSinopse">
                            Sinopse
                        </button>
                    </td>
                }

            </tr>
        }
    </table>

}


<!-- Código do Modal no Bootstrap -->

<div class="modal" tabindex="-1" role="dialog" id="ModalSinopse">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="text-center">Sinopse</h5> <!--Titulo do Modal -->
            </div>
            <div class="modal-body">
                <article id="SinopseModal"></article>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" tabindex="-1" role="dialog" id="ModalMensagem">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aviso!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@Html.Raw(ViewBag.Mensagem)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
@section Scripts{
    @if (ViewBag.Mensagem != "")
    {
        <script>
            $(document).ready(function () {
                $(".BtnComprar").click(function () {
                    $("#ModalMensagem").modal('toggle');
                    $("#ModalMensagem").modal('show');
            })
                    })
        </script>
    }
    <script>
        @*Recebe os Dados do Botão *@
        $(document).ready(function () {
            $(".BtnSinopse").click(function () {
                $("#ModalSinopse").modal('toggle');
                $("#ModalSinopse").modal('show');

                var Sinopse = $(this).attr("data-Sinopse");


                @* Envia os Dados para o Modal *@
                $("#SinopseModal").text(Sinopse);

            })
        })
    </script>

}

