@model IEnumerable<PortalLivros.Model.vw_LIVRO>


@{
    ViewBag.Title = "MuralLivros";
}

<h2 class="text-center" style="padding-top:50px">Estante</h2>

<p>
    @Html.ActionLink("Criar Novo Livro", "CriarLivro", "MuralLivros")
</p>


@using (Html.BeginForm("CapturarAmigo", "Home", FormMethod.Get, new { id = "cadastrar-form", role = "form", @class = "form-signin" }))
{
    <table class="table table-bordered">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ImagemCaminho)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NomeGenero)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NomeAutor)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Sinopse)
            </th>
            <th class="text-center">
                @Html.DisplayName("Opções")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        @if (!String.IsNullOrEmpty(item.ImagemCaminho))
        {
            <td class="text-center">
                @{
                    //var base64 = Convert.ToBase64String(item.ImagemCaminho);
                    //var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    var imgSrc = Url.Content(item.ImagemCaminho);

                }
                <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
            </td>
        }
        else
        {
            <td class="text-center">
                <img src="~/Imagens/Foto em branco.jpg" style="max-width:100px; max-height:100px;" />
            </td>
        }
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.DataPublicacao)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.NomeGenero)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Editora)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.NomeAutor)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Sinopse)
        </td>

        @if (Session["Perfil"] != null)
        {
            <td class="text-center">
                <button class="btn btn-success center-block  BtnComprar" data-toggle="modal"
                        data-target="#ModalMensagem">
                    Comprar Livro
                </button>

                <br />

                <!--Configuração do Botão que vai Abrir o Modal, onde será definido os parametros do Modal com os dados que
            irá aparecer no JQuery-->

                <button class="btn btn-primary BtnDetalhes" onclick="return false"
                        data-ImagemCaminho="@item.ImagemCaminho"
                        data-ISBN="@item.ISBN"
                        data-DataPublicacao="@item.DataPublicacao"
                        data-Titulo="@item.Titulo"
                        data-Genero="@item.NomeGenero"
                        data-Editora="@item.Editora"
                        data-Autor="@item.NomeAutor"
                        data-Sinopse="@item.Sinopse"
                        data-toggle="modal"
                        data-target="#ModalDetalhes">
                    Detalhes
                </button>
            </td>
        }
        else
        {
            <td class="text-center">
                <button class="btn btn-primary BtnDetalhes" onclick="return false"
                        data-ImagemCaminho="@item.ImagemCaminho"
                        data-ISBN="@item.ISBN"
                        data-DataPublicacao="@item.DataPublicacao"
                        data-Titulo="@item.Titulo"
                        data-Genero="@item.NomeGenero"
                        data-Editora="@item.Editora"
                        data-Autor="@item.NomeAutor"
                        data-Sinopse="@item.Sinopse"
                        data-toggle="modal"
                        data-target="#ModalDetalhes">
                    Detalhes
                </button>
            </td>
        }

    </tr>
        }
    </table>

}


<!-- Código do Modal no Bootstrap -->

<div class="modal" tabindex="-1" role="dialog" id="ModalDetalhes">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="text-center">Detalhes</h5> <!--Titulo do Modal -->
            </div>
            <div class="modal-body">
                <p>ISBN: <label id="ISBNModal"></label></p>
                <br />
                <p>Data de Publicação: <label id="DataPublicacaoModal"></label></p>
                <br />
                <p>Título: <label id="TituloModal"></label></p>
                <br />
                <p>Gênero: <label id="GeneroModal"></label></p>
                <br />
                <p>Editora: <label id="EditoraModal"></label></p>
                <br />
                <p>Autor: <label id="AutorModal"></label></p>
                <br />
                <p>Sinopse: <label id="SinopseModal"></label></p>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" tabindex="-1" role="dialog" id="ModalMensagem">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aviso!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@Html.Raw(ViewBag.Mensagem)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
@section Scripts{
    @if (ViewBag.Mensagem != "")
    {
        <script>
            $(document).ready(function () {
                $(".BtnComprar").click(function () {
                    $("#ModalMensagem").modal('toggle');
                    $("#ModalMensagem").modal('show');
                }
                    )
        </script>
    }
    <script>
        @*Recebe os Dados do Botão *@
        $(document).ready(function () {
            $(".BtnDetalhes").click(function () {
                $("#ModalDetalhes").modal('toggle');
                $("#ModalDetalhes").modal('show');
                var ImagemCaminho = $(this).attr("data-ImagemCaminho");
                var ISBN = $(this).attr("data-ISBN");
                var DataPublicacao = $(this).attr("data-DataPublicacao");
                var Titulo = $(this).attr("data-Titulo");
                var Genero = $(this).attr("data-Genero");
                var Editora = $(this).attr("data-Editora");
                var Autor = $(this).attr("data-Autor");
                var Sinopse = $(this).attr("data-Sinopse");


                @* Envia os Dados para o Modal *@
                $("#ImagemCapaModal").text(ImagemCaminho);
                $("#ISBNModal").text(ISBN);
                $("#DataPublicacaoModal").text(DataPublicacao);
                $("#TituloModal").text(Titulo);
                $("#GeneroModal").text(Genero);
                $("#EditoraModal").text(Editora);
                $("#AutorModal").text(Autor);
                $("#SinopseModal").text(Sinopse);

            })
        })
    </script>

}

